<div id="form">
	<div id="titleform">Login</div>
	<% if !alert.nil? %>
	<div id="alert"><%= alert %></div>
	<% end %>
	<hr />
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<%= f.email_field :email, :placeholder => "Email Address" %>
		<%= f.password_field :password, :placeholder => "Password" %>
		<%= f.hidden_field :remember_me, {:value => '0'} %>
		<%= f.submit 'Login' %>
	<% end %>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript">
$(document).ready(function(){
	$(window).resize(function() {
		doAligner();
	});
	doAligner();
});
function doAligner(){
	$("#form").css({"margin-top": ($(window).height()/2) - ($("#form").height()/2) + "px"});
}
</script>
<style type="text/css">
body, html{
	font-family: 'Arimo', sans-serif;
	height:100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-image:url(http://joshpruim.com/voicesearch/bg_tile.jpg)
}
#form{
	<% if !alert.nil? %>
	height: 330px;
	<% else %>
	height: 300px;
	<% end %>
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 3px #222;


}
#titleform{
	padding-left: 0.5em;
	padding-top: 0.4em;
	font-size: 32px;
	padding-bottom: 0.6em;
	background-color: #666;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
hr{
	margin-top: 0px;
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}
input{
	font-size: 28px;
	width: 90%;
	margin-left: 0.6em;
	margin-right: 0.6em;
	margin-bottom: 1em;
}
#alert{
	padding-top: 5px; 
	height:25px;
	padding-left: 0.8em;
	background: rgb(255,48,25); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
</style>