<%= form_for(@imageitem) do |f| %>
  <% if @imageitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@imageitem.errors.count, "error") %> prohibited this imageitem from being saved:</h2>

      <ul>
      <% @imageitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
